<!DOCTYPE html>
<html>
<head>
    <title>Bombardier - klub bokserski</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}" >
    <script type="text/javaScript" src="{% static "js/bootstrap.js" %}"></script>
</head>

<body>

<body>
  <div class="container">

    <h1>Bombardier - klub bokserski </h1>

<div class="navbar">
  <div class="navbar-inner">
  <ul class="nav">
      <li> <a href="/news">News</a></li>
      <li><a href="/zawodnicy">Zawodnicy</a></li>
      <li><a href="/terminy">Terminy</a></li>
      <li><a href="/galeria">Galeria</a></li>
      <li><a href="/kontakt">Kontakt</a></li>
  </ul>
  </div>
</div>
    {% block content %}
    {% endblock %}
</div>
<p> <a href="bombardier.net.pl> bombardier </a></p>"
</body>

</html>